<!-- <div class="main-div">

  <img src="../assets/Logo.png" alt="college_Logo">
  <h1>KKR & KSR INSTITUTE OF TECHNOLOGY AND SCIENCES</h1>

  <div class="team">
    <h2>TechCrusiers :</h2>
    <ul>
      <li>K.Showri Babu</li>
      <li>M.Jagadeeswara Reddy</li>
      <li>K.Rahul</li>
      <li>P.BalaKoteswararao</li>
      <li>G.Prakash Babu</li>
    </ul>
  </div>
  
</div> -->
<!-- <app-showri></app-showri> -->
<!-- <app-test></app-test> -->



<!-- Here instead of invoke..........use anchor tag.... -->
<!-- 
<div>

<a routerLink="/aboutus">AboutUs</a>
<a routerLink="/contactus">ContactUS</a>

</div> -->

<div class="main">
<div class="nav-bar">
  <ul>
    <li><a routerLink="/aboutus"><button class="btn btn-primary">About</button></a></li>
    <li><a routerLink="/contactus"><button class="btn btn-success">Contact</button></a></li>
    <li><a routerLink="/register"><button class="btn btn-warning">Signup</button></a></li>
    <li><a routerLink="/login"><button class="btn btn-primary">Login</button></a></li>
    <li><a routerLink="/file-upload"><button class="btn btn-success">File Upload</button></a></li>

  </ul>
</div>
</div>
<!-- <app-contactus></app-contactus> -->
<!-- <app-about-us></app-about-us> -->






<router-outlet></router-outlet>
