h1{
    color:red;
    letter-spacing:3px;
    font-weight:bolder;
    font-size:38px;
    text-shadow: 2px 2px 1px white;
    text-align: center;

}

img{
    /* width:300px;
    height: 150px;
    border-radius: 12px; */
    position:fixed;
    left:8px;
    width:120px;
    height:120px;
    top: 8px;

}



.main-div{

    align-items:center;
    text-align: center;
    background-color: rgb(75, 221, 17);
    border-radius: 12px;
    height:200px;
}

.team{

    margin-top:80px;

}

.team h2{
    font-weight: bolder;
    font-size:32px;
    margin-left:20px;
    text-shadow: 2px 2px 1px white;


}

.team ul{

    text-align: center;
    align-items: center;

    
}
.team ul li{

    list-style: none;
    font-size:23px;
    font-weight: bold;
    margin: 10px;
    padding:20px;
    background-color: white;
    border-radius:18px;
}


/* Today - 6/10/2023... */
/* 
div a{
    padding:12px;
    text-decoration: none;
    font-size:20px;
    color:black;
    background-color: red;
    margin:20px;

} */
.main{
    display:flex;
    justify-content: space-around;
    background-color: #50686d;
}
.nav-bar ul{
    display: flex;
    justify-content: space-between ;
}
.nav-bar ul li{
    padding:15px 20px;
    font-style: bold;
    list-style: none;
    color:white;
}
.nav-bar{
    padding:20px 0;
    /* margin-bottom:20px; */
}
a{
    color:red;
    list-style: none;
    text-decoration: none;
    /* font-size:20px; */
    font-family:'Times New Roman', Times, serif;
    padding:10px;
    /* background-color: white; */

    font-weight:bolder;
}

