h1{
    color:red;
    text-align:center;
    font-weight:bolder;
    text-shadow: 2px 2px 1px black;

}

p{
    font-size: 30px;
    text-align: center;
}

div{

    background-color: rgb(191, 255, 0);
}